<a href="https://colab.research.google.com/github/PhoniciaAnne/pythoncomprehension/blob/main/Comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num = [1,2,3,4,5,6,7]
new_nums =[n for n in num]
print(new_nums)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
num = [10,20,30,40,50]
mul = [a*a for a in num]
print(mul)

[100, 400, 900, 1600, 2500]

In [ ]:
# maps+lambda
nums = [2,5,8,9]
m_list = list(map(lambda a:a*a,nums))
print(m_list)

[4, 25, 64, 81]

In [ ]:
my_list = [n for n in num if n%2 == 0]
print(my_list)

[10, 20, 30, 40, 50]

In [ ]:
my_list = [(letter,num) for letter in "abcd" for num in range(5)]
print(my_list)

[('a', 0), ('a', 1), ('a', 2), ('a', 3), ('a', 4), ('b', 0), ('b', 1), ('b', 2), ('b', 3), ('b', 4), ('c', 0), ('c', 1), ('c', 2), ('c', 3), ('c', 4), ('d', 0), ('d', 1), ('d', 2), ('d', 3), ('d', 4)]

In [ ]:
name = ['A','B','C','D']
num = ['a','b','c','d']
a = print(list(zip(name,num)))

[('A', 'a'), ('B', 'b'), ('C', 'c'), ('D', 'd')]

In [ ]:
my_dict = {name:num for name,num in zip(name,num) if name == 'A'}

In [ ]:
my_dict

{'A': 'a'}

In [ ]:
#set
set = {1,2,3,3,4}
sets = {n for n in set}
print(sets)

{1, 2, 3, 4}

In [ ]:
#generator function
gen = [1,5,8,6]
my_gen = list((n*n for n in gen))

In [ ]:
my_gen

[1, 25, 64, 36]

In [ ]:
lis1 = [1,2,3]
lis2 = [4,5,6]

In [ ]:
list(map(lambda x : sum(x),(lis1,lis2)))

[6, 15]

In [ ]:
for it in zip(lis1,lis2):
  print(it)

(1, 4)
(2, 5)
(3, 6)